* {
 	box-sizing: border-box;
 }

 h1, h2, h3, h4, h5, h6 { 
  margin: 10px;
 }

body {
  font-family: "inter", sans-serif;
  margin: 0;
  width: 300px;
  height: 200px;
  text-align: center;
  user-select: none;
  -webkit-app-region: drag;
}

.app{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.date {
  color:#9CA7B6 ;
  font-size: 16px;
}

.time{
  color: #E6F1FF;
  font-size: 52px;
  font-family: 'Bebas Neue', sans-serif;
}